.form {
  font-weight: 500;
  color: #555;
}

.row {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.row input:not([type='radio']),
.row textarea {
  text-align: center;
  margin: 0 5px;
  padding: 0.6rem 1rem;
  font-size: 18px;
  border-radius: 4px;
  border: 1px #ccc solid;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.row input[type='radio'] {
  margin: 0 0.2rem 0 0.7rem;
}

.row textarea {
  width: 100%;
  text-align: left;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  transform: scale(0.9);
}

@media (max-width: 670px) {
  .form {
    width: 90%;
  }

  .row {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .row input:not([type='radio']),
  .row textarea,
  .gender {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .buttons {
    justify-content: center;
    transform: scale(0.7);
  }
}
